debug.log
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
package-lock.json
yarn-error.log
yarn.lock

# 文件夹
test
.DS_Store
node_modules
.idea
dist/*
dist-qiankun/*
build/*
dist.zip
!build/icons
!build/plists
.cache-loader