/**
 * @description 风车
 * @author minjie
 * @Date 2022-06-01 23:14
 * @LastEditTime 2022-06-04 16:30
 * @LastEditors minjie
 */
html, body,
.windmill-containers {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.windmill-bg-img-container {
  width: 432px;
  height: 768px;
}
#windmill-canvas {
  width: 432px;
  height: 768px;
  background-color: rgb(146, 181, 224);
  border: 1px solid red;
}